
<mat-card class="createtrip">
    <button mat-fab color="accent" [routerLink]="['/trip/create']">Create</button>
</mat-card>


      <h2>Upcoming trips</h2>
        <div *ngFor="let trip of trips">
            <mat-card class="trippagecard">
            <mat-card-title class="tripcardtitle">
                <app-trip-card [trip]="trip"></app-trip-card>
            </mat-card-title>
            <mat-card-actions>
                <button mat-raised-button [routerLink]="['/trip', trip._id]">Detail</button>
            </mat-card-actions>
            </mat-card>
        </div>


