@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";

/* ---- reset ---- */

/* html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} */

body {
  margin: 0;
  padding: 0;
  /* background-image: radial-gradient(circle, #e2e2e9, #e0e6f1, #daeaf8, #d3f0fb, #ccf5fb); */
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}


#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
  align-items: center;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- components ---- */

/* -- forms -- */

.login-form{
  position: relative;
  padding: 1rem;
  border: solid #f7f7f9;
  border-width: .2rem 0 0;
}

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.btn-grad {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%)}
.btn-grad :hover { background-position: right center; }

form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}
